body {
    margin: 0;
   
    text-align: center;

}



.line {
    height: 6px;
    background-color: aquamarine;
    width: 120px;
    margin: 8px auto;

}

#app {
    width: 100%;
    height: 800px;
    background-color: darkcyan;



}

#game {
    width: 100%;
    height: 800px;
    background-color: hotpink;



}

img {
    transition: transform .2s;



}

img:hover {

    transform: scale(0.9);


}

#bot {
    width: 100%;
    height: 800px;
    background-color: plum;



}
